.code {
    background-color: #202020;
    white-space: pre;
    font-family: 'Inconsolata', 'Courier New', monospace;
    font-size: 14;
    color: white;
    padding: 10px;
}
.string {
    color: rosybrown;
}
.number {
    color: #f099bb;
}
.bool {
    color: #f099bb;
}
.fullComment, .lineComment {   
    color: royalblue; 
    font-style: italic;
}
.varName {
    color: goldenrod;
}
/*
.langVer, .moduleName, .urn {    
    color: darkgreen;
}
*/
.keyword {
    color: #8aabfd; 
}
.operator {
    color: #9497a2;
}
.funcName {
    color: white;
}
.funcParamName {
    color: #f2be3b;    
}
.varNameDecl {
    color: #f2be3b;    
}
.functionDef {
    position: relative;
}
.functionType {
    color: white;
    background-color: #333;
    opacity: 0.8;
    display: none;   
    position: absolute;
    font-size: 0.8em;
    top: -1em;
}
.hideTypes .functionDef:hover > .functionType {
    display: inline-block;
    position: absolute;
}
.showTypes .functionType {
    display: inline-block;
    position: absolute;
} 
.gitHubLink {
    position: fixed;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.gitHubLink a {
    color: pink;
}
.button {
    position: fixed;
    right: 20;
    background-color: steelblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
}
.button > a {
    color: black;
}